/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.tileButton {
  min-width: 200px;
  min-height: 200px;
  font-size: xxx-large;
}